* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  list-style: none;
  text-decoration: none;
}

.button--big {
  width: 160px;
  height: 50px;
  border-radius: 6px;
  border-color: transparent;
}

@media (max-width: 1200px) {
  .button--big {
    width: 140px;
    height: 40px;
  }
}

.wrap {
  height: 100vh;
  color: white;
  background-color: green;
  background: url("../images/Bg (1).jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  overflow: auto;
  z-index: 10;
}

.container {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 768px;
    padding: 0 15px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .container {
    width: 100%;
    padding: 0;
  }
}

.container .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  max-width: 1170px;
  padding-top: 25px;
}

@media (max-width: 1200px) {
  .container .menu {
    max-width: 768px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .container .menu {
    max-width: 100%;
  }
}

.container .menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .container .menu .logo {
    font-size: 12px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .container .menu .logo {
    font-size: 10px;
    margin-left: 10px;
  }
}

.container .menu .logo .logo__img {
  padding-right: 5px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}

@media (max-width: 1200px) {
  .list {
    font-size: 12px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .list {
    font-size: 10px;
    margin-right: 10px;
  }
}

.list .list__item {
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .list .list__item {
    padding: 0 10px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .list .list__item {
    padding: 0 5px;
  }
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

@media (max-width: 768px) and (orientation: portrait) {
  .language {
    padding-right: 0;
    margin-right: 10px;
  }
}

@media (max-width: 1200px) {
  .language .language__text {
    font-size: 12px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .language .language__text {
    font-size: 10px;
  }
}

.language .language__img {
  padding-right: 5px;
}

@media (max-width: 1200px) {
  .language .language__img {
    width: 30px;
  }
}

@media (max-width: 1200px) {
  .language .language__arrow {
    width: 20px;
  }
}

.login {
  width: 100px;
  height: 46px;
  background-color: transparent;
  border-radius: 6px;
  color: white;
  border: 1px solid white;
}

@media (max-width: 1200px) {
  .login {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .login {
    width: 80px;
    margin-right: 20px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50vh;
  margin-top: 200px;
}

@media (max-width: 768px) and (orientation: portrait) {
  .hero {
    max-width: 100%;
  }
}

.hero .hero__title {
  font-size: 72px;
  letter-spacing: 5px;
}

@media (max-width: 1200px) {
  .hero .hero__title {
    font-size: 60px;
  }
}

@media (max-width: 1024px) {
  .hero .hero__title {
    font-size: 50px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .hero .hero__title {
    font-size: 40px;
    padding-bottom: 70px;
  }
}

.hero .hero__description {
  font-size: 24px;
  padding: 0 525px;
  text-align: center;
}

@media (max-width: 1200px) {
  .hero .hero__description {
    font-size: 20px;
    padding: 0 410px;
  }
}

@media (max-width: 1024px) {
  .hero .hero__description {
    font-size: 17px;
    padding: 0 360px;
  }
}

@media (max-width: 900px) {
  .hero .hero__description {
    font-size: 17px;
    padding: 0 290px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .hero .hero__description {
    padding: 0 190px;
    font-size: 20px;
    padding-bottom: 130px;
    padding-top: 50px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .hero .hero__button {
    margin-bottom: 100px;
  }
}

.video-section {
  padding-top: 100px;
  padding-bottom: 30px;
}

@media (max-width: 768px) and (orientation: portrait) {
  .container-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.video-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}

.video-left .video-left__title {
  font-size: 36px;
}

@media (max-width: 1200px) {
  .video-left .video-left__title {
    font-size: 26px;
  }
}

@media (max-width: 1024px) {
  .video-left .video-left__title {
    font-size: 22px;
  }
}

.video-left .video-left__description {
  font-size: 14px;
  padding-right: 130px;
  text-align: justify;
}

@media (max-width: 1200px) {
  .video-left .video-left__description {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 0;
    font-size: 11px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .video-left .video-left__description {
    font-size: 14px;
  }
}

.video-left .video-left__learnmore {
  margin-bottom: 70px;
  color: red;
}

.video-right {
  width: 50%;
  padding-left: 70px;
  position: relative;
}

@media (max-width: 768px) and (orientation: portrait) {
  .video-right {
    padding-left: 0;
    padding-bottom: 30px;
  }
}

.video-right .video-right__video {
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .video-right .video-right__video {
    max-width: 100%;
  }
}

.video-right .viedo-right__playbutton {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 40px;
  padding-top: 120px;
}

@media (max-width: 1200px) {
  .video-right .viedo-right__playbutton {
    padding-top: 80px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .video-right .viedo-right__playbutton {
    padding-left: 160px;
    padding-top: 100px;
  }
}

.features {
  background: #FAFAFA;
  z-index: 2;
  position: relative;
  max-width: 100%;
}

.features .features__title {
  text-align: center;
  padding-top: 50px;
  font-size: 36px;
  padding-bottom: 60px;
}

@media (max-width: 1024px) {
  .features .features__title {
    font-size: 30px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .container-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container-mobile .feature {
  width: 33%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 768px) and (orientation: portrait) {
  .container-mobile .feature {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container-mobile .feature__image {
  border-radius: 10px;
  position: absolute;
  z-index: 0;
}

@media (max-width: 1200px) {
  .container-mobile .feature__image {
    max-width: 100%;
    padding: 0 7px;
  }
}

.container-mobile .dashboard {
  background-color: #fff;
  text-align: center;
  width: 280px;
  margin: 150px 35px;
  padding: 25px 25px;
  border-radius: 10px;
  z-index: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1200px) {
  .container-mobile .dashboard {
    margin: 100px 25px;
    padding: 15px 15px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .container-mobile .dashboard {
    margin: 175px 25px;
  }
}

.container-mobile .dashboard .dashboard__title {
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;
}

@media (max-width: 1200px) {
  .container-mobile .dashboard .dashboard__title {
    font-size: 13px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .container-mobile .dashboard .dashboard__title {
    font-size: 19px;
  }
}

.container-mobile .dashboard .dashboard__description {
  font-size: 12px;
  padding-bottom: 20px;
}

@media (max-width: 1200px) {
  .container-mobile .dashboard .dashboard__description {
    font-size: 10px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .container-mobile .dashboard .dashboard__description {
    font-size: 13px;
  }
}

.container-mobile .dashboard .dashboard__readmore {
  font-size: 12px;
  padding-bottom: 20px;
  color: red;
}

.technology {
  padding: 100px 0;
  max-width: 100%;
}

.technology .technology__title {
  text-align: center;
  padding: 10px 0 60px 0;
  font-size: 30px;
}

@media (max-width: 768px) and (orientation: portrait) {
  .technology-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
  }
}

.download {
  width: 25%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 768px) and (orientation: portrait) {
  .download {
    width: 100%;
  }
}

.download .download__number {
  font-size: 100px;
  opacity: 0.1;
}

@media (max-width: 1200px) {
  .download .download__number {
    font-size: 80px;
  }
}

.download .download__image {
  position: absolute;
  padding-top: 50px;
}

@media (max-width: 1024px) {
  .download .download__image {
    padding-top: 60px;
  }
}

@media (max-width: 1024px) {
  .download .image-cloud {
    padding-top: 55px;
  }
}

.download .download__title {
  padding-top: 20px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .download .download__title {
    padding-top: 40px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .download .download__title {
    font-size: 30px;
  }
}

.download .download__description {
  padding-top: 30px;
  font-size: 12px;
  padding: 0 50px;
}

@media (max-width: 1200px) {
  .download .download__description {
    font-size: 9px;
    padding-top: 10px;
  }
}

@media (max-width: 1024px) {
  .download .download__description {
    padding: 10px 20px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .download .download__description {
    font-size: 20px;
  }
}

.app-download {
  background: #ED4C5C;
  padding: 100px 0;
  color: white;
}

.left-side {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 150px;
}

@media (max-width: 1200px) {
  .left-side {
    padding-right: 30px;
    margin-right: 70px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .left-side {
    max-width: 50%;
    margin-right: 20px;
    margin-left: 40px;
  }
}

.left-side .left-side__title {
  font-size: 36px;
}

@media (max-width: 1200px) {
  .left-side .left-side__title {
    font-size: 26px;
  }
}

.left-side .left-side__description {
  font-size: 14px;
  text-align: justify;
}

@media (max-width: 1200px) {
  .left-side .left-side__description {
    font-size: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .left-side .left-side__description {
    font-size: 14px;
    padding-top: 10px;
  }
}

.apps__google {
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .apps__google {
    width: 45px;
  }
}

.apps__apple {
  padding-right: 25px;
}

@media (max-width: 1200px) {
  .apps__apple {
    width: 50px;
  }
}

.right-side {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) and (orientation: portrait) {
  .right-side {
    max-width: 30%;
  }
}

.right-side .right-side__over {
  position: absolute;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .right-side .right-side__over {
    max-width: 100%;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .right-side .right-side__over {
    max-width: 80%;
  }
}

.right-side .right-side__under {
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .right-side .right-side__under {
    max-width: 120%;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .right-side .right-side__under {
    max-width: 100%;
  }
}

.contact {
  padding: 100px 0 120px 0;
}

.left-text {
  width: 50%;
}

@media (max-width: 768px) and (orientation: portrait) {
  .left-text {
    max-width: 50%;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .left-text {
    margin-left: 40px;
  }
}

.left-text .left-text__title {
  font-size: 36px;
  padding-bottom: 50px;
}

.left-text .left-text__description {
  font-size: 14px;
  padding-right: 150px;
  line-height: 140%;
}

@media (max-width: 1200px) {
  .left-text .left-text__description {
    padding-right: 0px;
    font-size: 10px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .left-text .left-text__description {
    font-size: 14px;
  }
}

.inputs {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media (max-width: 1200px) {
  .inputs {
    margin-left: 80px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .inputs {
    max-width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.inputs .input--small {
  width: 255px;
  height: 60px;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid grey;
  margin-bottom: 20px;
  padding-left: 30px;
}

@media (max-width: 1200px) {
  .inputs .input--small {
    width: 165px;
    height: 40px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .inputs .input--small {
    width: 130px;
  }
}

.inputs .inputs__first-name {
  margin-right: 30px;
}

.inputs .input--big {
  width: 540px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 20px;
  padding-left: 30px;
}

@media (max-width: 1200px) {
  .inputs .input--big {
    width: 360px;
    height: 40px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .inputs .input--big {
    width: 290px;
  }
}

.inputs .inputs__service {
  color: #999;
}

.inputs .inputs__submit {
  background-color: #ED4C5C;
}

.footer {
  background: #FAFAFA;
  padding: 100px 0 90px 0;
}

.title--size {
  font-size: 18px;
  padding-bottom: 30px;
}

@media (max-width: 1200px) {
  .title--size {
    font-size: 16px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .title--size {
    font-size: 18px;
  }
}

.text--size {
  font-size: 12px;
  line-height: 150%;
  text-align: left;
}

@media (max-width: 1200px) {
  .text--size {
    font-size: 10px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .text--size {
    font-size: 12px;
  }
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.layout .address {
  width: 25%;
  padding-right: 120px;
}

@media (max-width: 1200px) {
  .layout .address {
    padding-right: 35px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .layout .address {
    margin-left: 40px;
  }
}

.layout .address .address--span {
  display: block;
}

.layout .services {
  width: 25%;
}

@media (max-width: 1200px) {
  .layout .services {
    margin-left: 10px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .layout .services {
    max-width: 25%;
  }
}

.layout .services .servies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layout .services .servies-list .services-list__item {
  line-height: 160%;
}

.layout .get-in-touch {
  width: 25%;
}

@media (max-width: 768px) and (orientation: portrait) {
  .layout .get-in-touch {
    max-width: 25%;
  }
}

.layout .get-in-touch .get-in-touch__mail {
  padding-bottom: 10px;
}

.layout .get-in-touch .socials {
  padding-top: 20px;
}

.layout .get-in-touch .socials .socials__facebook {
  padding-right: 10px;
}

.layout .get-in-touch .socials .socials__linked-in {
  padding-right: 10px;
}

.layout .secure {
  width: 25%;
}

@media (max-width: 768px) and (orientation: portrait) {
  .layout .secure {
    margin-right: 30px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .layout .secure {
    max-width: 25%;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .layout .secure .secure__image {
    width: 50%;
  }
}

.copyright {
  margin-left: 175px;
  margin-top: 130px;
}

@media (max-width: 1024px) {
  .copyright {
    margin-left: 145px;
  }
}

@media (max-width: 900px) {
  .copyright {
    margin-left: 80px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .copyright {
    margin-left: 40px;
    margin-top: 80px;
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */