.app-download {
    background: #ED4C5C;
    padding: 100px 0;
    color: white;
}

.app-wrapper {
    display: flex;
    justify-content: space-between;

    @media(max-width: 768px) and (orientation: portrait) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}


.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 150px;

    @media(max-width: 1200px) {
        padding-right: 30px;
        margin-right: 70px;

    }

    @media(max-width: 768px) and (orientation: portrait) {
        width: 100%;
        max-width: 100%;
        margin-right: 20px;
        margin-left: 40px;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }

    .left-side__title {
        font-size: 36px;

        @media(max-width: 1200px) {
            font-size: 26px;

        }

        @media(max-width: 480px) and (orientation: portrait) {
            font-size: 20px;
        }
    }

    .left-side__description {
        font-size: 14px;
        text-align: justify;

        @media(max-width: 1200px) {
            font-size: 10px;
            margin-bottom: 10px;

        }

        @media(max-width: 768px) and (orientation: portrait) {
            font-size: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
            max-width: 500px;
            text-align: center;
        }

        @media(max-width: 480px) and (orientation: portrait) {
            font-size: 13px;
            max-width: 400px;
        }

        @media(max-width: 320px) and (orientation: portrait) {
            font-size: 12px;
            max-width: 300px;
        }
    }
}

.apps__google {
    padding-right: 20px;

    @media(max-width: 1200px) {
        width: 45px;

    }

    @media(max-width: 768px) and (orientation: portrait) {
        width: 60px;
    }
}

.apps__apple {
    padding-right: 25px;

    @media(max-width: 1200px) {
        width: 50px;

    }

    @media(max-width: 768px) and (orientation: portrait) {
        width: 60px;
    }
}

.apps__windows {
    @media(max-width: 768px) and (orientation: portrait) {
        width: 35px;
    }
}

.right-side {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(max-width: 768px) and (orientation: portrait) {
        max-width: 100%;
        width: 100%;
    }

    @media(max-width: 480px) and (orientation: portrait) {
        max-width: 50%;
        margin-bottom: 30px;
    }










    .right-side__over {
        position: absolute;
        border-radius: 20px;



        @media(max-width: 1200px) {
            max-width: 100%;

        }

        @media(max-width: 768px) and (orientation: portrait) {
            max-width: 80%;
        }

        @media(max-width: 480px) and (orientation: portrait) {
            border-radius: 10px;
        }
    }

    .right-side__under {
        border-radius: 20px;

        @media(max-width: 1200px) {
            max-width: 120%;

        }

        @media(max-width: 768px) and (orientation: portrait) {
            max-width: 100%;
        }

        @media(max-width: 480px) and (orientation: portrait) {
            border-radius: 10px;
        }
    }
}