.contact {
    padding: 100px 0 120px 0;

    @media(max-width: 768px) and (orientation: landscape) {
        padding: 60px 0 100px 0;
    }
}

.contact__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;

    @media(max-width: 768px) and (orientation: portrait) {
        flex-direction: column;
    }

    @media(max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.left-text {
    width: 50%;

    @media(max-width: 768px) and (orientation: portrait) {
        max-width: 50%;
    }

    @media(max-width: 768px) and (orientation: portrait) {
        margin-left: 40px;
    }

    // @media(max-width: 360px) and (orientation: portrait) {

    // }



    .left-text__title {
        font-size: 36px;
        padding-bottom: 50px;

        @media(max-width: 768px) {
            text-align: center;
        }

        @media(min-width: 1024px) and (orientation: portrait) {
            font-size: 40px;
        }

        @media(min-width: 800px) and (orientation: portrait) {
            font-size: 50px;
        }
    }

    .left-text__description {
        font-size: 14px;
        padding-right: 150px;
        line-height: 140%;

        @media(max-width: 1200px) {
            padding-right: 0px;
            font-size: 10px;
        }

        @media(min-width: 1024px) and (orientation: portrait) {
            font-size: 20px;
        }

        @media(min-width: 800px) and (orientation: portrait) {
            font-size: 22px;
        }

        @media(max-width: 768px) and (orientation: portrait) {
            font-size: 14px;
        }

        @media(max-width: 768px) {
            text-align: center;
            padding-bottom: 30px;
        }

        @media(max-width: 480px) and (orientation: portrait) {
            max-width: 200px;
        }

    }
}

.inputs {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    @media(max-width: 1200px) {
        margin-left: 80px;
    }

    @media(max-width: 768px) and (orientation: portrait) {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0;
        margin: 0;
    }



    @media(max-width: 480px) and (orientation: portrait) {
        justify-content: center;
    }

    @media(max-width: 360px) and (orientation: portrait) {
        align-items: center;

    }




    .input--small {
        width: 240px;
        height: 60px;
        border-radius: 10px;
        justify-content: space-between;
        border: 1px solid grey;
        margin-bottom: 20px;
        padding-left: 30px;

        @media(max-width: 1200px) {
            width: 165px;
            height: 40px;
        }

        @media(max-width: 768px) and (orientation: portrait) {
            width: 220px;
            padding-left: 0;
        }

        @media(max-width: 768px) and (orientation: landscape) {
            width: 320px;
            padding-left: 0;
        }

        @media(max-width: 480px) and (orientation: portrait) {
            width: 220px;
        }

        @media(max-width: 360px) and (orientation: portrait) {
            width: 220px;
        }
    }

    .inputs__first-name {
        margin-right: 30px;

        @media(max-width: 768px) and (orientation: portrait) {
            margin-right: 0;
        }

        @media(max-width: 768px) and (orientation: landscape) {
            margin-right: 0;
        }

        @media(max-width: 480px) and (orientation: portrait) {
            margin-right: 0;
        }
    }




    .input--big {
        width: 510px;
        height: 60px;
        border-radius: 10px;
        border: 1px solid grey;
        margin-bottom: 20px;
        padding-left: 30px;

        @media(max-width: 1200px) {
            width: 360px;
            height: 40px;
        }

        @media(max-width: 768px) and (orientation: portrait) {
            width: 220px;
            padding-left: 0;
        }

        @media(max-width: 768px) and (orientation: landscape) {
            width: 320px;
            padding-left: 0;
            margin-left: 0;
        }

        @media(max-width: 480px) and (orientation: portrait) {
            width: 220px;
        }

        @media(max-width: 360px) and (orientation: portrait) {
            width: 220px;
            padding-left: 0;

        }

    }

    .inputs__service {
        color: #999;
    }

    .inputs__submit {
        background-color: #ED4C5C;
        width: 160px;
        height: 60px;
        border-radius: 10px;
        border: 1px solid transparent;
        color: white;

        @media(max-width: 1200px) {
            width: 130px;
            height: 40px;
        }

    }
}