.contact {
    padding: 100px 0 120px 0;
}

.left-text {
    width: 50%;

    @media(max-width: 768px) and (orientation: portrait) {
        max-width: 50%;
    }

    @media(max-width: 768px) and (orientation: portrait) {
        margin-left: 40px;
    }

    .left-text__title {
        font-size: 36px;
        padding-bottom: 50px;
    }

    .left-text__description {
        font-size: 14px;
        padding-right: 150px;
        line-height: 140%;

        @media(max-width: 1200px) {
            padding-right: 0px;
            font-size: 10px;
        }

        @media(max-width: 768px) and (orientation: portrait) {
            font-size: 14px;
        }
    }
}

.inputs {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    @media(max-width: 1200px) {
        margin-left: 80px;
    }

    @media(max-width: 768px) and (orientation: portrait) {
        max-width: 50%;
        flex-direction: row;
    }




    .input--small {
        width: 255px;
        height: 60px;
        border-radius: 10px;
        justify-content: space-between;
        border: 1px solid grey;
        margin-bottom: 20px;
        padding-left: 30px;

        @media(max-width: 1200px) {
            width: 165px;
            height: 40px;
        }

        @media(max-width: 768px) and (orientation: portrait) {
            width: 130px;
        }
    }

    .inputs__first-name {
        margin-right: 30px;
    }



    .input--big {
        width: 540px;
        height: 60px;
        border-radius: 10px;
        border: 1px solid grey;
        margin-bottom: 20px;
        padding-left: 30px;

        @media(max-width: 1200px) {
            width: 360px;
            height: 40px;
        }

        @media(max-width: 768px) and (orientation: portrait) {
            width: 290px;
        }

    }

    .inputs__service {
        color: #999;
    }

    .inputs__submit {
        background-color: #ED4C5C;

    }
}