.features {
    background: #FAFAFA;
    z-index: 2;
    position: relative;
    max-width: 100%;




    .features__title {
        text-align: center;
        padding-top: 50px;
        font-size: 36px;
        padding-bottom: 60px;

        @media(max-width: 1024px) {
            font-size: 30px;
        }
    }
}

.container-mobile {
    @media(max-width: 768px) and (orientation: portrait) {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }

    .feature {
        width: 33%;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;

        @media(max-width: 768px) and (orientation: portrait) {
            width: 100%;
            justify-content: center;
        }



    }



    .feature__image {
        border-radius: 10px;
        position: absolute;
        z-index: 0;

        @media(max-width: 1200px) {
            max-width: 100%;
            padding: 0 7px;

        }

    }

    .dashboard {
        background-color: #fff;
        text-align: center;
        width: 280px;
        margin: 150px 35px;
        padding: 25px 25px;

        @media(max-width: 1200px) {
            margin: 100px 25px;
            padding: 15px 15px;

        }

        @media(max-width: 768px) and (orientation: portrait) {
            margin: 175px 25px;
        }

        border-radius: 10px;
        z-index: 1;
        align-self: center;



        .dashboard__title {
            font-size: 18px;
            line-height: 22px;
            padding-bottom: 20px;

            @media(max-width: 1200px) {
                font-size: 13px;

            }

            @media(max-width: 768px) and (orientation: portrait) {
                font-size: 19px;
            }
        }

        .dashboard__description {
            font-size: 12px;
            padding-bottom: 20px;

            @media(max-width: 1200px) {
                font-size: 10px;

            }

            @media(max-width: 768px) and (orientation: portrait) {
                font-size: 13px;
            }
        }

        .dashboard__readmore {
            font-size: 12px;
            padding-bottom: 20px;
            color: red;
        }
    }
}