.footer {
    background: #FAFAFA;
    padding: 100px 0 90px 0;


}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;



    @media(max-width: 768px) and (orientation: portrait) {
        justify-content: center;
        align-items: center;



    }
}

.title--size {
    font-size: 18px;
    padding-bottom: 30px;

    @media(max-width: 1200px) {
        font-size: 16px;

    }

    @media(max-width: 768px) and (orientation: portrait) {
        font-size: 36px;
    }

    @media(max-width: 480px) and (orientation: portrait) {
        font-size: 30px;
    }

    @media(max-width: 360px) and (orientation: portrait) {
        font-size: 26px;
    }
}

.text--size {
    font-size: 12px;
    line-height: 150%;
    text-align: left;

    @media(max-width: 1200px) {
        font-size: 10px;

    }

    @media(max-width: 768px) and (orientation: portrait) {
        font-size: 22px;
    }

    @media(max-width: 480px) and (orientation: portrait) {
        font-size: 18px;
    }

    @media(max-width: 360px) and (orientation: portrait) {
        font-size: 12px;
    }
}

.address {
    width: 25%;


    @media(max-width: 768px) and (orientation: portrait) {
        width: 100%;
        margin-top: 0px;
        text-align: center;
    }

    @media(max-width: 480px) and (orientation: portrait) {
        padding-right: 0px;
    }

    .address__address {
        @media(max-width: 768px) and (orientation: portrait) {
            text-align: center;
            margin-bottom: 30px;
        }

        @media(max-width: 768px) and (orientation: landscape) {
            max-width: 110px;
        }
    }

    .address--span {
        display: block;
    }
}

.services {
    width: 25%;



    @media(max-width: 768px) and (orientation: portrait) {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .servies-list {
        display: flex;
        flex-direction: column;

        .services-list__item {
            line-height: 160%;
            text-align: center;

            @media(max-width: 1440px) and (orientation:landscape) {
                text-align: left;
            }

            @media(max-width: 768px) and (orientation: portrait) {
                text-align: center;
            }

            @media(min-width: 800px) and (orientation: portrait) {
                text-align: left;
            }

            @media(min-width: 1024px) and (orientation: portrait) {
                text-align: left;
            }

        }

    }

}

.get-in-touch {
    width: 25%;

    @media(max-width: 768px) and (orientation: portrait) {
        width: 100%;
        text-align: center;

    }

    .get-in-touch__mail {
        padding-bottom: 10px;
        text-align: center;



        @media(max-width: 768px) and (orientation: portrait) {
            text-align: center;
        }

        @media(min-width: 800px) and (orientation: portrait) {
            text-align: left;
        }

        @media(min-width: 1024px) and (orientation: portrait) {
            text-align: left;
        }

        @media(max-width: 1440px) and (orientation: landscape) {
            text-align: left;
        }
    }

    .get-in-touch__phone {
        @media(max-width: 768px) and (orientation: portrait) {
            text-align: center;

        }
    }

    .socials {
        padding-top: 20px;

        .socials__facebook {
            padding-right: 10px;
        }

        .socials__linked-in {
            padding-right: 10px;
        }
    }
}

.secure {
    width: 25%;

    @media(max-width: 1200px) {
        text-align: center;

    }


    @media(max-width: 768px) and (orientation: portrait) {
        width: 100%;
        margin-top: 50px;



    }

    @media(max-width: 480px) and (orientation: portrait) {
        margin-left: 20px;
    }

    @media(max-width: 360px) and (orientation: portrait) {
        margin-left: 0;
    }


    .secure__image {
        @media(max-width: 1024px) and (orientation:landscape) {
            width: 50%;
        }

        @media(max-width: 768px) and (orientation: portrait) {
            width: 50%;

        }

        @media(max-width: 480px) and (orientation: portrait) {
            width: 50%;
        }



    }
}


.copyright {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;



}