* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
}

.button--big {
    width: 160px;
    height: 50px;
    border-radius: 6px;
    border-color: transparent;

    @media(max-width: 1200px) {
        width: 140px;
        height: 40px;
    }
}


.wrap {
    height: 100vh;
    color: white;
    background-color: green;
    background: url("../images/Bg (1).jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    z-index: 10;
}

.container {
    width: 1170px;
    display: flex;
    flex-direction: row;
    margin: auto;

    @media(max-width: 1200px) {
        width: 768px;
        padding: 0 15px;
    }





    .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        max-width: 1170px;
        padding-top: 25px;

        @media(max-width: 1200px) {
            max-width: 768px;
        }


        .logo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media(max-width: 1200px) {
                font-size: 12px;
            }

            .logo__img {
                padding-right: 5px;
            }
        }

    }
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;

    @media(max-width: 1200px) {
        font-size: 12px;
    }

    .list__item {
        padding: 0 20px;

        @media(max-width: 1200px) {
            padding: 0 10px;
        }
    }


}

.language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;

    .language__text {
        @media(max-width: 1200px) {
            font-size: 12px;
            justify-content: space-evenly;
        }
    }

    .language__img {
        padding-right: 5px;

        @media(max-width: 1200px) {
            width: 30px;
        }
    }

    .language__arrow {
        @media(max-width: 1200px) {
            width: 20px;
        }
    }
}

.login {
    width: 100px;
    height: 46px;
    background-color: transparent;
    border-radius: 6px;
    color: white;
    border: 1px solid white;

    @media(max-width: 1200px) {
        width: 80px;
        height: 30px;
        font-size: 10px;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    margin-top: 200px;

    .hero__title {
        font-size: 72px;
        letter-spacing: 5px;

        @media(max-width: 1200px) {
            font-size: 60px;
        }

        @media(max-width: 1200px) {
            font-size: 50px;
        }
    }

    .hero__description {
        font-size: 24px;
        padding: 0 525px;
        text-align: center;

        @media(max-width: 1200px) {
            font-size: 20px;
            padding: 0 410px;
        }

        @media(max-width: 1024px) {
            font-size: 17px;
            padding: 0 360px;
        }
    }


}