.video-section {

    padding-top: 100px;
    padding-bottom: 30px;
}

.container-mobile {
    @media(max-width: 768px) and (orientation: portrait) {
        display: flex;
        flex-direction: column-reverse;


    }
}

.video-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;


    .video-left__title {
        font-size: 36px;

        @media(max-width: 1200px) {
            font-size: 26px;
        }

        @media(max-width: 1024px) {
            font-size: 22px;
        }
    }

    .video-left__description {
        font-size: 14px;
        padding-right: 130px;
        text-align: justify;

        @media(max-width: 1200px) {
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding-right: 0;
            font-size: 11px;
        }

        @media(max-width: 768px) and (orientation: portrait) {
            font-size: 14px;
        }

        @media(max-width: 480px) and (orientation: portrait) {
            font-size: 16px;
        }
    }

    .video-left__learnmore {
        margin-bottom: 70px;
        color: red;
    }
}

.video-right {
    width: 50%;
    padding-left: 70px;
    position: relative;

    @media(max-width: 768px) and (orientation: portrait) {
        padding-left: 0;
        padding-bottom: 30px;


    }



    .video-right__video {
        border-radius: 15px;

        @media(max-width: 1200px) {
            max-width: 100%;

        }

    }

    .viedo-right__playbutton {
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 40px;
        padding-top: 120px;

        @media(max-width: 1200px) {
            padding-top: 80px;
        }

        @media(max-width: 768px) and (orientation: portrait) {
            padding-left: 160px;
            padding-top: 100px;


        }

        @media(max-width: 480px) and (orientation: portrait) {
            padding-left: 90px;
            padding-top: 50px;
        }
    }
}